.gridChat {
  display: grid;
  grid-template-columns: 20fr 85fr;
}

/* .bgImage {
  background-color: #303030;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
} */
