.gridChat {
  display: grid;
  grid-template-columns: 20fr 85fr;
}

.bgImage {
  background-color: #303030;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
