@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  html {
    @apply bg-neutral-900;
  }
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
  border-radius: 50%;
}

@layer components {
  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-500;
    /* @apply bg-blue-800; */
  }
}
