@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
a,
div,
span,
input {
  font-family: "Roboto", sans-serif;
}

@layer components {
  html {
    @apply bg-neutral-900;
  }
}

::-webkit-scrollbar {
  width: 3px !important;
  height: 6px !important;
  border-radius: 50%;
}

@layer components {
  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-500;
    /* background-color: #e94f5c; */
    /* @apply bg-blue-800; */
  }
}
